body {

font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
background-color: lightblue;
}

#container {
	background-color: white;
	width: 40%;
	margin: 0 auto;
	border: 2px solid blue;
	padding: 0;
}

.header {
	background-color: blue;
	margin: 0;
}

h1 {
	color: white;
	background-color: blue;
	margin: 0;
	padding: 10px;
}

input {

	margin: 5px;

}


.completed {
	color: grey;
	text-decoration: line-through;
}


/* delete button */
span {
	color: white;
	background-color: orange;
	padding: 5px;
	width: 0;
	opacity: 0;
	transition: 0.2s linear;
	display: inline-block;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}